.header__lang-link {
    margin-left: 18px;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
            transition: opacity 1s linear;
}

.header__lang-link:hover {
    opacity: 0.8;
}