.places__link {
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    -webkit-transition: opacity 1s linear;
        -o-transition: opacity 1s linear;
            transition: opacity 1s linear;
}

.places__link:hover {
    opacity: 0.8;
}
