.footer__copyright {
    margin-top: 92px;
    padding: 0px;
    font-size: 14px;
    line-height: 1.14;
}


@media (max-width: 768px) {
    .footer__copyright {
        margin-top: 90px;
    }
}


@media (max-width: 680px) {
    .footer__copyright {
        margin-top: 0px;
        margin-left: 16px;
    }
}