.cover__title {
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    margin-bottom: 32px;
    color: #ffffff;
    text-decoration: none;
    z-index: 1;
}


@media (max-width: 550px) {
    .cover__title {
        font-size: 46px;
        line-height: 1.09;
    }
}


@media (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 1.09;
        margin-bottom: 16px;
    }
}